<h2 class="margin">My Stocks</h2>

<div class ="filterposition">
  <div >TagFilter : </div>
    <select  (change)="onChangeFilter($event)">
      <option value=" "></option>
      <option value="All">All</option>
      <option *ngFor="let item of tagData" value={{item}}>{{item}}</option>
    </select>
</div>

<table class="table table-bordered tablewidth" >
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Last Price</th>
      <th>Tag</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody *ngFor="let item of rowData;">
    <tr>
      <td><a href="javascript:void(0)" (click)="onBtnClick(item)">{{item.symbol}}</a></td>
      <td>{{item.last_price}}</td>
      <td>{{item.tag}}</td>
      <td id="remove" (click)="deleteRow(item)" class="only-show-on-hover">X</td>
    </tr>
  </tbody>
</table>


<div class="margin padding stockdetail" *ngIf="rowDataClicked">Stock detail
  <div class="padding">Symbol : {{rowDataClicked.symbol}}</div>
  <div class="padding">Name : {{rowDataClicked.name }}</div>
  <div class="padding">Market Cap : {{rowDataClicked.market_cap }}</div>
  <div class="padding">Tag : {{rowDataClicked.tag }}</div>
</div>